.hero {
  background-image: url("../../assets/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  width: 100%;
  max-width: 100%;
  height: 250px;
  max-height: 250px;

  @media (min-width: 768px) {
    background-image: url("../../assets/hero-desktop.jpg");
    height: 100vh;
    max-height: 100vh;
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
  }
}
